@import "macchiato.css";

* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 90px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}



#workspaces button {
  color: #7a95c9;
  box-shadow: inset 0 -3px transparent;

  padding-right: 3px;
  padding-left: 4px;

  margin-left: 0.1em;
  margin-right: 0em;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  color: #ecd3a0;
  padding-left: 1px;
  padding-right: 12px;
  margin-left: 0em;
  margin-right: 0em;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}


/* Style for hovered workspace buttons */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* Style for urgent workspace buttons */
#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
background-color: rgba(0, 0, 0, 0);	
    /*background-color: #64727D;*/
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
    padding: 0 10px;
}

#pulseaudio {
    color: @white;
}

#network {
    color: @white;
}

#temperature {
    color: @sky;
}

#battery {
    color: @white;
}

#clock {
    color: @white;
}

#window {
    color: @rosewater;
}

.modules-right, .modules-left, .modules-center {
    background-color: @base;
    border-radius: 7.5px;
}

.modules-right {
    padding: 0 10px;
}

.modules-left {
    padding: 0 20px;
}

.modules-center {
    padding: 0 10px;
}

#battery.charging, #battery.plugged {
    color: @sapphire;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#pulseaudio.muted {
    color: @text;
}
